<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI" version="0.4" targetFramework="net40" />
  <package id="Angular.UI.Bootstrap" version="0.6.0" targetFramework="net40" />
  <package id="angular-flashr" version="0.0.4" targetFramework="net40" />
  <package id="angular-highcharts" version="1.0.2" targetFramework="net40" />
  <package id="angularjs" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Animate" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Cookies" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Core" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Loader" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Locale" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.ngUpload" version="0.2.0" targetFramework="net40" />
  <package id="AngularJS.Resource" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Route" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Sanitize" version="1.2.0" targetFramework="net40" />
  <package id="AngularJS.Touch" version="1.2.0" targetFramework="net40" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="Backload" version="1.9.3.1" targetFramework="net40" />
  <package id="bootstrap" version="3.0.2" targetFramework="net40" />
  <package id="Bundler" version="1.1.22" targetFramework="net40" />
  <package id="DotNetOpenAuth.Ultimate" version="4.3.3.13295" targetFramework="net40" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net40" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net40" />
  <package id="jQuery" version="2.0.3" targetFramework="net40" />
  <package id="jQuery.Fullcalendar" version="1.6.4" targetFramework="net40" />
  <package id="jQuery.jqGrid" version="4.4.4" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net40" />
  <package id="JQuery_File_Upload_Plugin" version="8.6.3.3" targetFramework="net40" />
  <package id="Less.js" version="1.4.2" targetFramework="net40" />
  <package id="lodash.underscore" version="1.3.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net40" />
  <package id="Select2.js" version="3.4.3.1" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Caching.Memcached" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Host.AspNet" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Host.Mvc" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Mvc" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.70" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="TinyMCE.jQuery" version="4.0.10" targetFramework="net40" />
  <package id="toastr" version="2.0.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Less" version="3.0.2" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net40" />
  <package id="WebGrease" version="1.5.2" targetFramework="net40" />
</packages>